<div class="frame el-ls">
  <div class="element"><a href="#">7&amp;25 Cross</a></div>
  <div class="div-wrapper"><div class="text-wrapper">14</div></div>
</div>
<div class="div el-ls">
  <div class="element"><a href="#">50&amp;200 Cross</a></div>
  <div class="div-wrapper"><div class="text-wrapper">14</div></div>
</div>
<div class="frame-2 el-ls">
  <div class="element"><a href="#"> 50&amp;200 Pullback </a></div>
  <div class="div-wrapper"><div class="text-wrapper">14</div></div>
</div>
<div class="frame-3 el-ls {% if request.path|first in "/engulfing/" %}active{% endif %}">
  <div class="element"><a href='{% url "engulfing" %}'>Engulfing</a></div>
  <div class="div-wrapper"><div class="text-wrapper">14</div></div>
</div>
<div class="frame-4 el-ls">
  <div class="element"><a href="#">Volume</a></div>
  <div class="div-wrapper"><div class="text-wrapper">14</div></div>
</div>
<div class="frame-5 el-ls">
  <div class="element"><a href="#">UI</a></div>
  <div class="div-wrapper"><div class="text-wrapper">14</div></div>
</div>
