{% extends "base.html" %} {% block content %}
<div class="text-white mt-10 max-w-screen-xl m-auto px-4">
  <div class="mb-4 text-red-600 font-bold text-lg">
    SHORT - {{ time_frame }}
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Coin</th>
          <th scope="col" class="px-6 py-3">Exchange</th>
          <th scope="col" class="px-6 py-3">Passed Time</th>
          <th scope="col" class="px-6 py-3">First Signal</th>
        </tr>
      </thead>
      <tbody>
        {% for tr in transactions %}
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ tr.symbol.name }}
          </th>
          <td class="px-6 py-4">{{ tr.symbol.exchange.symbol }}</td>
          <td class="px-6 py-4">
            {{ tr.open_time_date|timesince }} ago - {{ tr.open_time_date|date:"Y/m/d - H:i" }}
          </td>
          <td class="px-6 py-4">
            {% if tr.first_signal.pk != tr.pk %} {{ tr.first_signal.passed_time|timesince }} ago {% else %} - {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
